{% extends 'base.html.twig' %}



{% block body %}


    {% if error %}
    <br>
    <div class="alert alert-dismissible alert-danger">
  <strong>Erreur !</strong> <u>Email ou Mot de passe incorrect</u>&nbsp; ce compte n'existe pas .
</div>
    {% endif %}

<br>
<div class="row justify-content-md-center">
<div class="col-4 jumbotron">
    <h3>Login :</h3><br/>

<form action=" {{ path("authentication") }} " method="POST">
        <div class="form-group">
            <input placeholder="Email" required name="_username" value="{{ last_username }}" type="text" class="form-control">
        </div>
        <div class="form-group">
            <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
        </div>
        <div class="form-group">

            <button type="submit" class="btn btn-success">Connexion </button>
           &nbsp; (<small><a class="nev-link text-info" href="{{ path("user_new") }}">M'inscrire</a> </small>)
        </div>
    </form>
</div>
</div>
{% endblock %}
